{% extends 'base.html' %}
{% load static%}
{% block page_title %}All Posts{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "Blog/start-page.css" %}">
    <link rel="stylesheet" href="{% static "Blog/all-posts.css" %}">
    <link rel="stylesheet" href="{% static "Blog/post-detail.css" %}">
{% endblock %}

{%block content %}
<section id="post_content">
    <h2>{{postdetail.title}}</h2>
    <article>
        <img src="{% static "Blog/images/"|add:postdetail.image %}" alt={{postdetail.image}}/>
        <address>{{postdetail.author}}</address>
        <div>
            Last updated on <time>{{postdetail.date|date:"d m y"}}</time>
        </div>
    </article>
    <main>
        <p>{{postdetail.content}}
           <br>
           The current education system emphasizes only on IQ development but fails to work on 
           developing the EQ and other personality development aspects of the students like creativity, 
           discipline, confidence and patience etc. We want to address this issue by giving students a 
           solid foundaion through sports training based on which they can build a strong character and career.
           Under Eklavya Program we will be focusing on students from economically backward communities and slum areas.
           We will identify two slum communities in Pune area where we will conduct the pilot batches of Eklavya Program. 
        </p> 
    </main> 

</section>

{% endblock %}